:root {
  --sn-stylekit-editor-font-family: "Lato", sans-serif;
  --sn-stylekit-sans-serif-font: "Lato", sans-serif;

  --sn-stylekit-neutral-color: #edf2fb;
  --sn-stylekit-neutral-contrast-color: black;

  --sn-stylekit-info-color: #587bf0;
  --sn-stylekit-info-contrast-color: black;
  --sn-stylekit-info-color-darkened: #020305;

  --sn-stylekit-success-color: #3965ca;
  --sn-stylekit-success-contrast-color: black;

  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: black;

  --sn-stylekit-danger-color: #f80324;
  --sn-stylekit-danger-contrast-color: black;

  --sn-stylekit-shadow-color: #020204;
  --sn-stylekit-background-color: #030508;
  --sn-stylekit-border-color: #1c2538;
  --sn-stylekit-foreground-color: #7f9cf5;

  --navigation-item-selected-background-color: #111827;
  --sn-stylekit-info-backdrop-color: #0b101a;

  --sn-stylekit-contrast-background-color: #0d1117;
  --sn-stylekit-contrast-foreground-color: #7f9cf5;
  --sn-stylekit-contrast-border-color: #1c2538;

  --sn-stylekit-secondary-background-color: #0b101a;
  --sn-stylekit-secondary-foreground-color: #7f9cf5;
  --sn-stylekit-secondary-border-color: #7f9cf5;

  --sn-stylekit-secondary-contrast-background-color: #131b2e;
  --sn-stylekit-secondary-contrast-foreground-color: #7f9cf5;
  --sn-stylekit-secondary-contrast-border-color: #edf2fb;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-passive-color-0: var(--sn-stylekit-neutral-color);
  --sn-stylekit-passive-color-2: var(--sn-stylekit-info-color);
  --sn-stylekit-passive-color-3: var(--sn-stylekit-contrast-border-color);
  --sn-stylekit-passive-color-4: var(--sn-stylekit-secondary-background-color);
  --sn-stylekit-passive-color-4-opacity-variant: #0e162b;
  --sn-stylekit-passive-color-5: var(--sn-stylekit-secondary-background-color);

  --sn-stylekit-paragraph-text-color: #edf2fb;

  --preferences-navigation-icon-color: #587bf0;

  --sn-stylekit-input-border-color: #1c2538;

  --sn-stylekit-scrollbar-thumb-color: #3b507d;
  --sn-stylekit-scrollbar-track-border-color: #030508;

  --sn-stylekit-general-border-radius: 2px;

  --sn-stylekit-theme-type: dark;
}

#blocks-editor hr:after {
  background-color: #7f9cf5;
}

body {
  font-family: "Lato", sans-serif !important;
}
